@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1152px;
    height: 100vh;
    margin: 0 auto;
}

#header .header {
    display: flex;
    padding-left: 100px;
    padding-right: 102px;
    padding-top: 15px;
    padding-bottom: 12px;
    height: 50px;
    background: #F5F5F6;
}

#header .logo {
    margin-right: 64px;
}

#header ul {
    display: flex;
    margin-right: 80px;
}

#header ul li {
    margin-right: 25px;
}

#header ul li a {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    align-items: center;
    letter-spacing: 0.06em;
    color: #959BA4;
}

#header li:first-child a {
    color: black;
}



#header .btn {
    width: 58px;
    height: 33px;
    background: #FFFFFF;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06em;
    margin-top: -8px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;

    color: #000000;
}

#main .main {
    padding-top: 56px;
    padding-left: 253px;
    padding-right: 258px;
    background: #fff;
}

#main .main h1 {
    width: 587px;
    height: 32px;
}

#main .main .alert {
    margin-top: 30px;
    text-align: center;
    width: 645px;
}

#main section {
    display: flex;
    margin-top: 33px;
}

#main .left-section, .right-section {
    width: 259px;
    height: 181px;

}

#main .left-section {
    margin-right: 123px;
}

#main .head {
    width: 120px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;

    color: #9F9F9F;
}

#main .currencies {
    display: flex;

    width: 100%;
    height: 30px;

}

#main .currencies button {
    padding: 6px 20.3px 6px 20.3px;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
}

#main button {
    background-color: #fff;
}

#main button:first-child {
    border-radius: 3px 0px 0px 3px;
    border: 1px solid #E5E5E5;
    background: #833AE0;
    color: #FFFFFF;
}

#main button:last-child {
    border-radius: 0px 3px 3px 0px;
    border: 1px solid #E5E5E5;
    color: #C6C6C6;
}

#main button:nth-child(2) {
    border-top: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    border-left: 0px;
    color: #C6C6C6;
}

#main button:nth-child(3) {
    border-top: 1px solid #E5E5E5;
    border-right: 0px;
    border-bottom: 1px solid #E5E5E5;
    border-left: 0px;
    color: #C6C6C6;
}

#main .right-section button:nth-child(2) {
    background-color: #833AE0;
    color: #fff;
}

#main .right-section button:first-child {
    background-color: #fff;
    color: #C6C6C6;
}

#main #section .amount {
    width: 259px;
    height: 102px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 11px 14px 5px 14px;
}

#section .amount input {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    border: none;
}

#section .amount input:focus {
    outline: none;
}

#section .amount input::-webkit-outer-spin-button,
#section .amount input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#section .amount .rate {
    width: 250px;
    height: 28px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;

    color: #C6C6C6;
}